<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>hello vue.js</title>
    <script src="http://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
<div id="account">
    예금액 : <input type="text" v-model="amount">
    <div v-if="amount<0">
        마이너스는 허용하지 않습니다.
    </div>
    <div v-else-if="amount>>0">
        값을 계속 입력해주세요.
    </div>
    <div v-else>
        값을 입력해주세요.
    </div>
</div>
</div>
<script type="text/javascript">
    var model = {
        amount: -1
    }
    var account = new Vue({
        el : '#account',
        data : model
    })
</script>
</body>
</html>
