<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>hello vue.js</title>
    <script src="http://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
<div>
    <div id="example">
        <table id="list">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="contact in contacts">
                    <td>{{contact.no}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.addr}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="example1">
        <select id="regions">
            <option disabled="disabled" selected>지역을 선택하세요.</option>
            <option v-for="(val, key) in regions" v-bind:value="key">{{val}}</option>
        </select>
    </div>
</div>
<script type="text/javascript">
    var model = {
        contacts: [
            {'no':1, 'name':'설현', 'tel':'1111-1111', 'addr':'서울'},
            {'no':2, 'name':'혜리', 'tel':'1111-1111', 'addr':'서울'},
            {'no':3, 'name':'하니', 'tel':'1111-1111', 'addr':'서울'},
            {'no':4, 'name':'성소', 'tel':'1111-1111', 'addr':'서울'}
        ]
    }
    var regions = {
        "A": "ASIA",
        "B": "AMERICA",
        "C": "EUROPE",
        "D": "AFRICA",
    }
    var example = new Vue({
        el : '#example',
        data : model
    })
    var example1 = new Vue({
        el : '#example1',
        data : { regions : regions }
    })
</script>
</body>
</html>
