<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>hello vue.js</title>
    <script src="http://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
<div id="simple">
    <input type="text" v-model="name" placeholder="이름을 입력하세요."/>
    <br>
    입력된 이름 <h2 v-html="name"></h2>
</div>
<div id="simple1">
    <div>좋아하는 과일을 모두 골라주세요. : </div>
    <input type="checkbox" value="1" v-model.lazy="fruits"> 딸기
    <input type="checkbox" value="2" v-model="fruits"> 사과
    <input type="checkbox" value="3" v-model="fruits"> 포도
    <input type="checkbox" value="4" v-model="fruits"> 오렌지
</div>
<hr/>
<div id="simple2">
    선택한 과일들
    <span v-html="fruits"></span>
</div>
<script type="text/javascript">
    var model = {
        name: 'yejin'
    }
    var simple = new Vue({
        el : '#simple',
        data : model
    })

    var modelArr = {
        fruits: []
    }
    var simple1 = new Vue({
        el: '#simple1',
        data: modelArr
    })
    var simple2 = new Vue({
        el: '#simple2',
        data: modelArr
    })
</script>
</body>
</html>
